<button class="btn btn-success">Add</button>
<table class="table table-striped">
    <thead>
	<tr>
	    <th>Nombre</th>
	    <th>Tipo</th>
	    <th>Proveedor</th>
	    <th>Price</th>
	    <th>Actions</th>
	</tr>
    </thead>
    <tbody>
	<tr *ngFor="let product of products">
	    <td>{{product.name}}</td>
	    <td>{{product.type}}</td>
	    <td>{{product.provider}}</td>
	    <td>{{product.price}}</td>
	    <td class="btn-group">
		<button (click)="remove(product.id)" class="btn btn-danger">Delete</button>
		<button class="btn btn-primary">Update</button>
	    </td>
	</tr>
    </tbody>
</table>

