<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">VHM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(lista de productos)</span></a>
      </li>
    </ul>
  </div>
</nav>
<button class="btn btn-success">Add</button>
<table class="table table-striped">
    <thead>
	<tr>
	    <th>Nombre</th>
	    <th>Tipo</th>
	    <th>Proveedor</th>
	    <th>Price</th>
	    <th>Actions</th>
	</tr>
    </thead>
    <tbody>
	<tr *ngFor="let product of products">
	    <td>{{product.name}}</td>
	    <td>{{product.type}}</td>
	    <td>{{product.provider}}</td>
	    <td>{{product.price}}</td>
	    <td class="btn-group">
		<button (click)="remove(product.id)" class="btn btn-danger">Delete</button>
		<button class="btn btn-primary">Update</button>
	    </td>
	</tr>
    </tbody>
</table>

